<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skiskii.skiskiibackendservice.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.skiskii.skiskiibackendservice.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="open_id" jdbcType="CHAR" property="openId" />
    <result column="badge_id" jdbcType="BIGINT" property="badgeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ip_info" jdbcType="LONGVARCHAR" property="ipInfo" />
  </resultMap>
</mapper>